.hipsbar--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparentize($dark, 0.5);
  transition: all 300ms;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is--active {
    opacity: 1;
    visibility: visible;
  }

  &.is--blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}

/*
  Blur nodes except active hipsbar
*/
body.blurred--overlay > *:not(.is--active) {
  filter: blur(5px)
}