@charset "UTF-8";
.hipsbar--wrapper {
  height: 100vh;
  background: #263238;
  position: fixed;
  z-index: 9999;
  width: 100%;
  transition: all 450ms; }
  .hipsbar--wrapper.is--left {
    top: 0;
    left: 0;
    transform: translateX(-100%); }
    .hipsbar--wrapper.is--left.is--active {
      transform: translateX(0); }
  .hipsbar--wrapper.is--right {
    top: 0;
    right: 0;
    transform: translateX(100%); }
    .hipsbar--wrapper.is--right.is--active {
      transform: translateX(0); }
    .hipsbar--wrapper.is--right ul li a {
      justify-content: flex-end;
      text-align: right; }
  .hipsbar--wrapper.is--top, .hipsbar--wrapper.is--bottom {
    top: 0;
    left: 0;
    height: auto;
    transform: translateY(-100%); }
    .hipsbar--wrapper.is--top.is--active, .hipsbar--wrapper.is--bottom.is--active {
      transform: translateY(0); }
    .hipsbar--wrapper.is--top ul, .hipsbar--wrapper.is--bottom ul {
      margin: 10px 2.5px;
      display: flex; }
      .hipsbar--wrapper.is--top ul li, .hipsbar--wrapper.is--bottom ul li {
        flex-basis: 100%;
        margin: 0 5px; }
        .hipsbar--wrapper.is--top ul li a, .hipsbar--wrapper.is--bottom ul li a {
          border-radius: 4px;
          justify-content: center; }
  .hipsbar--wrapper.is--bottom {
    bottom: 0;
    top: auto;
    transform: translateY(100%); }
    .hipsbar--wrapper.is--bottom.is--active  {
      transform: translateY(0); }
  .hipsbar--wrapper ul {
    margin: 50px 0; }
    .hipsbar--wrapper ul li a {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 1.5em;
      color: #fff;
      font-size: .8em;
      transition: all 300ms; }
      .hipsbar--wrapper ul li a:hover {
        background: #1e282d; }
